*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(85, 61, 61);
}


.container{
    width: 1170px;
    margin: 0 auto;
}

.header-wrapper{

    background: rgb(255, 255, 255);
   

    .main-wrappe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    
        .main-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;

                li.menu-item-has-children:hover ul.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
                li{
                    display: inline-block;
                    padding: 28px 20px;
                    position: relative;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;

                        i{
                            font-weight: 600;
                        }
                    }
    
                    ul.sub-menu{
                        display: flex;
                        flex-direction: column;
                        background: rgb(255, 255, 255);
                        position: absolute;
                        z-index: 9999;
                        color: black;
                        min-width: 200px;
                        top: 120%;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease-in;
                        border-top: 3px solid rgb(141, 214, 45);
    
                        li.main-menu-child{
                            border-bottom: 1px solid #eee;
                            padding: 0;
                            margin: 0;

                            a{
                                font-size: 16px;
                                font-weight: normal;
                                display: block;
                                padding: 10px 15px;
                                background: #FFFFFF;
                                color: #8bc34a;

                                &:hover{
                                    background: #8bc34a;
                                    color: #fff;
                                    transition: all 0.4s;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .nav-icons{
            span{
                a{
                    padding: 30px 10px;
                    font-size: 20px;
                }
            }
        }

        .menu-btn-sm{
            padding: 6px 10px;
            background: #8bc34a;
            color: white;
            font-size: 25px;
            cursor: pointer;
            border-radius: 6px;
            display: none;
        }
    }
}



  .mobile-menu{
      position: absolute;
      height: 100vh;
      width: 0%;
      overflow-x: hidden;
      background: rgba(0, 0, 0, .4);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all .4s ease-in-out;
      transition-timing-function: linear;

      .mobile-menu-area{
          width: 0%;
          background: #FFFFFF;
          position:relative;
          height: 100%;
          overflow-x: hidden;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          opacity: 0;
          transition: all .5s ease-in;
          transition-delay: .4s ;
          transition-timing-function: linear;

          .mobile-menu-logo{
              margin-left: 20px;
              margin-top: 20px;
              margin-bottom: 30px;
          }

          .menu-close-icon{
              position: absolute;
              top: 20px;
              right: 10px;
              padding: 10px 10px;
              border-radius: 50%;
              background:#8bc34a;
              border: none;

              &:focus{
                  border: none;
                  outline: none;
              }

              i{
                  font-size: 22px;
                  color: #FFFFFF;
              }
          }

          ul{
              list-style: none;

              li{
                  border-bottom: 1px solid rgba(0, 0, 0, .2);
                a{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-style: 600;
                    text-decoration: none;
                    padding: 10px 15px;
                    display: block;
                }
              }

              li.mini-dropdown{
                transition: 0.4s;
                  ul.mini-sub-menu.panel{
                      background: rgb(197, 186, 186);
                      padding: 0 18px !important;
                      max-height: 0;
                      overflow: hidden;
                      transition: max-height 0.2s ease-out;
                      li{
                          border-bottom: none !important;
                          padding-left: 10px;

                          a{
                              font-size: 14px;
                          }
                      }
                  }
              }
          }

    }
  }

  // responsive

@media only screen and (max-width: 800px) {
    .menu-btn-sm{
        display: block !important;
    }

    .main-menu{
        display: none !important;
    }

  }
